:root{
    --blue: #00224D;
    --dark-pink: #5D0E41;
    --dark-red: #A0153E;
    --red: #FF204E;
    --black: #121212;
    --green: rgb(66, 236, 66);
    --yellow: #fae352;

    --card-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

body{
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

header {
    background-color: var(--black);
    padding: 10px 20px;
    z-index: inherit;
    z-index: 11;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav{
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
}

.navbar-nav{
    align-items: center;
    gap:30px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all .2s ease; 
}

.active{
    color: var(--yellow) !important;
    font-weight: 700;
}

nav a:hover{
    color: var(--yellow) !important;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .2s ease;
}

.logo:hover{
    transform: rotate(-10deg);
}

main {
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.hero{
    width: 100%;
    /* margin-top: 50px; */
}

h1{
    font-size: 35px;
    font-weight: 700;
    padding: 0;
    letter-spacing: -1px;
    text-wrap: balance;
} 


h2{
    font-size: 28px;
    font-weight: 900;
    text-wrap: wrap;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

h2::before{
    content: '';
    display: block;
    height: 10px;
    width: 102%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 1.5rem;
    z-index: -1;
    position: absolute;
    background-color: rgba(250, 227, 82, 0);
    border-radius: 2px;
    box-shadow: var(--yellow) 3px 3px 0px 0px, var(--black) 5px 5px 0px 0px;
}

h3{
    font-size: 25px;
    font-weight: 400;
}

section{
    margin-top: 50px;
}

/* Productos (cards) */
.games{
    margin-bottom: 50px;
}

/* Para que se aplique a todos los botones, menos el de navbar y btnclose */
button:not(.btn-close):not(.navbar-toggler){
    border: none;
    padding: 10px 20px 8px 20px;
    border-radius: 5px;
    background-color: var(--yellow);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    transition: all .1s ease-in-out;
    box-shadow: var(--black) 2px 2px 0px 1px ;
    cursor: pointer;
}

button:not(.btn-close):not(.navbar-toggler):active{
    transform: translate(2%, 2%);
    box-shadow: none;
}

.game-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    margin-top: 0px;
    padding: 20px 50px 20px 50px;
    position: relative;
}

.game-card{
    background-color: var(--black);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: none;
    transition: all .2s ease-out;
    cursor: pointer;
    font-family: "Teko", sans-serif;
    user-select: none;
    opacity: 0;
    transform: translateY(-2000px);

    transition: all .5s ease-in-out;
}

.game-card.appear{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);

}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
    display: block;
    transition: .2s ease;
}

.game-card .price{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: all .2s ease-in-out;
    background-color: rgba(27, 27, 27, 0.93);
    gap: 10px;
    text-wrap: nowrap;
    align-items: center;
}

.game-card .price p{
    padding: 0;
    font-size: 18px;
    font-weight: 900;
    color: var(--green);
    transition: all .2s ease;
}

.game-card .price small{
    color: rgb(224, 224, 224);
    transition: all .2s ease;
}

.game-title{
    display: flex;
    position: absolute;
    background-color: rgba(27, 27, 27, 0.93);
    justify-content: center;
    text-wrap: balance;
    bottom: 27px;
    width: 100%;
    color: white;
    font-size: 25px;
    transition: all .3s ease-in-out;
    border-top: 2px groove var(--yellow);
    line-height: 30px;
    /* font-family: 'Inter', sans-serif; */
}

.game-card:hover .game-title{
    align-items: flex-start;
    height: 48px;
    bottom: 0px;
}

/* Efecto de tachado */
small::before{
    content: '';
    width: 45px;
    height: 1px;
    top: 12px;
    position: absolute;
    transform: rotate(-5deg);
    background: var(--black);
}

.game-card:hover{
    box-shadow: var(--card-shadow);
}

.game-card:hover .price p{
    font-size: 30px;
}

.game-card:hover .price small{
    font-size: 20px;
}

.game-card:hover small::before{
    top: 20px;
    height: 2px;
    width: 70px;
}

.game-card:hover .price{
    width: 100%;
    background-color: rgba(27, 27, 27, 1);
    border-radius: 0;
}

.game-card:hover img{
    filter: grayscale(1)
}

.game-card .banner{
    position: absolute;
    top: 5%;
    left: -41%;
    text-align: center;
    padding-left: 0;
    width: 100%;
    transform: rotate(-30deg);
}

.game-card .offer{
    background-color: var(--green);
}

.game-card .new{
    background-color: var(--red);
    color: white1;
}

/* Reviews */
.reviews-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.review-card{
    background-color: var(--black); 
    color: white;
    text-wrap: wrap;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    transition: all .2s ease-in-out;
    max-width: 350px;
    text-align: center;
    user-select: none;
}

.review-card img{
    border-radius: 10px;
}

.review-card i {
    font-size: 15px;
    font-weight: 600;
    max-width: 400px;
    padding-bottom: 20px;
}

.review-card:hover{
    scale: 1.05;
    box-shadow: var(--card-shadow);
}

.fa-star{
    transition: all .1s ease-in-out;
}

.fa-star:hover{
    scale: 1.5;
    transform: rotate(30deg);
}

.review-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review-stars-name h5{
    font-size: .9rem;
    margin: 0;
    text-align: left;
}

.review-stars-name h3{
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: left;
}

.fa-star.checked{
    color: var(--yellow);
}


/* Formulario de contacto */
.contact-form{
    padding-top: 20px;
}

form{
    padding: 20px;
    width: 600px;
    text-align: start;
    background-color: var(--black);
    color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}

form input{
    width: 100%;
    font-family: inherit;
    height: 30px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
    border: 1px solid rgb(95, 95, 95);
    outline: none;
    padding: 20px;
    font-size: 13px;
    font-weight: 600;
    
}

form textarea{
    resize: none;
    font-family: inherit;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid rgb(95, 95, 95);
    padding: 20px;
    font-size: 16px;
}

form .form-submit{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

form label{
    margin-left: 5px;
    font-size: 16px;
}

/* Mapa */ 
.map{
    border-radius: 10px;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    /* border: 1px solid rgb(207, 207, 207); */
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.location .fa{
    color: black;
}

.google-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-map p{
    font-size: 16px;
}

/* Para controlar el gap de la navbar */ 
@media(max-width: 991px){
    .navbar-nav{
        gap:0;
    }

    .register-cart-link{
        gap: 10px;
    }
}

/* Grid para pantallas más pequeñas*/
@media (max-width: 1300px) {
    .reviews-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .reviews-cards{
        grid-template-columns: 1fr;
    }

    .map{
        width: 400px;
        height: 400px;
    }

    form{
        width: 400px;
    }
}

@media (max-width: 480px) {
    .location p {
        font-size: 13px;
    }

    .logo img{
        width: 30px;
    }

    nav a{
        font-size: 13px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 28px;
    }

    .google-map h3 {
        font-size: 20px;
    }

    .map{
        width: 300px;
        height: 300px;
    }

    form{
        width: 300px;
    }
}

footer {
    padding: 30px;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    color: white;
    text-align: center;
    align-content: center;
    z-index: 11;
}

footer p{
    margin-bottom: 10px;
}

footer nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

}

footer ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer li {
    display: flex;

}

footer ul li a{
    text-decoration: none ;
    color: white;
}

cite{
    color: var(--yellow);
}

.fa-shopping-cart, .fa-sign-out{
    font-size: 25px;
    cursor: pointer;
}

/* Toast */
.toast{
    position: fixed;
    background-color: var(--yellow) !important;
    font-weight: 600;
    color: var(--black);
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-align: left;
}

.toast.success{
    background-color: var(--green) !important;
}

.toast .btn-close{
    color: var(--black) !important;
} 

/* Modal */
.img-modal{
    width: 100%;
    border-radius: 15px;
}

.modal-footer{
    justify-content: center;
}

.modal-footer button {
    color: var(--black);
}

.modal-footer button:hover{
    color: var(--black);
}

.modal-body p {
    text-align: left;
}

.register-cart-link{
    display: flex;
    align-items: center;
}

footer a i {
    font-size: 25px !important;
}


/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-weight: 700;
}

#loader img{
    width: 100px;
    animation: move 1s ease-in-out infinite;
}

/* Animación de giro */
@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}